@using Szczepanik.Lukasz.PluggableMvcDemo.PluginOne
@inherits Szczepanik.Lukasz.PluggableMvcDemo.Common.BaseClasses.PluggableViewPage

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2 class="text-center">@Resource.PluginOne_HelloMessage</h2>
</div>