@{
    ViewBag.Header = "Contact";
}
<h2>@ViewBag.Header</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br/>
    <strong>Łukasz Szczepanik</strong><br/>
    software designer, entrepreneur, FC Barcelona fan :) <br/>
    Poland <br/>
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">szczepanik.luka@gmail.com</a><br />
</address>